.post {
  padding: 2.5rem;
  background: var(--gray-800);

  border-radius: 8px;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  margin-top: 1.5rem;
  line-height: 1.6;
  color: var(--gray-300);
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post > header time {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.commentForm {
  width: 100%;
  padding-top: 1.5rem;
  margin-top: 1.5rem;

  border-top: 1px solid var(--gray-600);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  height: 6rem;
  padding: 1rem;
  background: var(--gray-900);

  color: var(--gray-100);
  line-height: 1.4;

  border: 0;
  border-radius: 8px;

  resize: none;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type='submit'] {
  padding: 1rem 1.5rem;
  background: var(--green-500);

  color: var(--white);
  font-weight: bold;

  border: 0;
  border-radius: 8px;

  cursor: pointer;

  transition: background 0.1s;
}

.commentForm button[type='submit']:hover {
  background: var(--green-300);
}

.commentList {
  margin-top: 2rem;
}
